@page "/"


@inject IJSRuntime ijsRuntime;
<PageTitle>Home</PageTitle>

<h1>Hello, @text! </h1>

Welcome to your new app.

<script>

    function jsFuncion() { 
        alert("Hola mundo");
    }
    
</script>

@code{



    string text = "Emilio";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
           await ijsRuntime.InvokeVoidAsync("jsFuncion", null);
        }
    }



}
